<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM392_Proj"
        tools:targetApi="31">
        <activity
            android:name=".activitie.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activitie.TestScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitie.BookMark" />
        <activity android:name=".activitie.RecipeProcedure" />
        <activity
            android:name=".activitie.RecipeIngredient"
            android:exported="false" />
        <activity
            android:name=".activitie.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activitie.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activitie.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activitie.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>